[submodule "games/Asteroids"]
	path = games/Asteroids
	url = https://github.com/thoth-tech/Asteroids.git
[submodule "games/DXBallGame"]
	path = games/DXBallGame
	url = https://github.com/thoth-tech/DXBallGame
[submodule "games/PingPong"]
	path = games/PingPong
	url = https://github.com/thoth-tech/arcade-games/tree/main/games/Pingpong
	
