[submodule "games/Asteroids"]
	path = games/Asteroids
	url = https://github.com/thoth-tech/Asteroids.git
[submodule "games/DXBallGame"]
	path = games/DXBallGame
	url = https://github.com/thoth-tech/DXBallGame
[submodule "games/Pingpong"]
	path = games/Pingpong
	url = https://github.com/thoth-tech/arcade-games.git
	
