# Venture Adventure Test Report

Date of Testing: [September 12th, 2023]

## Executive Summary

This short Report Aims to identify some areas of Venture Adventure that can be worked on to make it more suitable for Playing on the Arcade Machine. notable areas include adding more levels and a menu system.

## Testing Goals

- To figure out what needs to be updated for the game.
- general information about the game and how its built.

## Testing Environment

- Tested on A Windows 10 PC

## Tech Info

The game is built in C++ with Splashkit

build the game with 'skm G++ \*.cpp'

## Performance Evaluation

The game showed no performance issues, everything was responsive and bugs happened during play testing.

## User Experience (UX) Evaluation

The user experience was good, The graphics for the game look good and well suited. The music and sound effect all fit the theme and are at a good noise level. Controls and game play are intuitive but a small how to play section could improve accessibility. More levels would also be good for the game.

## Tasks to be created

- Add a Level 2 and 3
- Add a menu system
- Add a how to play section, outlining controls and aim of the game
- Look into adding enemies to Levels, enemies are built into the code but not present on the current level

## Conclusion

Overall the Game is incredibly well built, every feature tested was robust. the game can be improved by adding more functionality and levels.

---

By [Riley Oussoren]
